.navbar .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.section1 {
	background-image: url("/images/v3.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 180px;
	height: 500px;
}

	.section1 .wrapper {
		display: flex;
		flex-direction: column;
	}

	.section1 .rating-text {
		margin-top: 100px;
		margin-bottom: 30px;
	}

	.section1 .rating-image {
		margin: 0 auto;
	}

.section2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(9, 8, 28, 1), rgba(255, 255, 255, 0)), url("../images/a.jpg");
	background-position: center;
	background-size: cover;
	z-index: -1;
}

.section2 {
	height: auto;
	padding: 60px 0;
	position: relative;
	overflow: hidden;
}

	.section2 .destinations {
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 50px;
		row-gap: 50px;
	}

	.section2 .destination {
		position: relative;
		background-color: rgba(0, 0, 0, 0.284);
		height: 500px;
		width: 350px;
		border-radius: 20px;
		border-style: solid;
		border-color: rgb(61, 116, 164);
		border-width: 3px;
		overflow: hidden;
		cursor: pointer;
		transition: box-shadow 0.2s, border-color 0.2s, transform 0.2s;
	}

		.section2 .destination ul {
			padding: 20px;
			list-style-type: none;
		}

			.section2 .destination ul img {
				margin-right: 10px;
				filter: invert(100%);
			}

			.section2 .destination ul li {
				margin-bottom: 10px;
				display: flex;
				align-content: center;
				align-items: center;
			}

		.section2 .destination .destination-price {
			color: white;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 9999px;
			padding: 10px;
			overflow: hidden;
			top: 10px;
			right: 10px;
			position: absolute;
		}

		.section2 .destination .promotial-text {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
		}

		.section2 .destination:hover {
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
			border-color: rgb(215, 176, 0);
			transform: scale(1.01);
		}

