body {
	--dark-red: rgb(92, 31, 31);
	background-color: rgb(31, 7, 43);
	height: 100vh;
}

.section1 {
	padding-top: 160px;
	padding-bottom: 100px;
	height: 70vh;
}


.forms {
	max-width: 450px;
	margin: 0 auto;
	margin-top: 80px;
}

#loginToggle:checked + .toggle-btn,
#registerToggle:checked + label.toggle-btn {
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 3;
	position: relative;
	color: white;
	transition: background-color 0.2s;
}

.form-content {
	display: block;
	padding: 20px;
	border: 2px solid rgb(255, 255, 255);
	transition: display 0.2s, padding 0.2s, height 0.2s;
}


#loginForm, #registerForm {
	border-radius: 10px;
}


#loginToggle:checked ~ .form-container #loginForm,
#registerToggle:checked ~ .form-container #registerForm {
	display: block;
}

.form-content h2 {
	text-align: center;
}


.form-content form {
	max-width: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.form-content label {
	margin-top: 10px;
}

.form-content input {
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.form-content button {
	margin-top: 20px;
	padding: 10px;
	background-color: rgb(60, 14, 83);
	color: white;
	border: none;
	border-radius: 4px;
}

	.form-content button:hover {
		background-color: rgba(60, 14, 83, 0.5);
	}

#noAcc {
	margin-top: 30px;
}

	#noAcc:hover {
		color: gray;
	}
