#section1 {
	background: #2a9743;
	padding-top: 180px;
	height: auto;
	padding-bottom: 100px;
}

	#section1 .wrapper {
		display: flex;
		flex-direction: column;
	}


#summary-section {
	padding: 60px 0;
	height: fit-content;
	background-color: rgb(84, 64, 38);
}

.summary-body {
	width: 600px;
	margin: 50px auto 0;
	display: flex;
	flex-direction: column;
}

.summary-row {
	align-items: end;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px #c5c5c5 solid;
	border-radius: 3px;
}


#payment-section {
	height: fit-content;
	background-color: blanchedalmond;
	padding: 120px 0;
}

.payment {
	background-color: rgb(231, 186, 103);
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border: 5px aliceblue solid;
	border-radius: 10px;
}

.payment-method {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

	.payment-method label {
		margin: 0 10px;
		padding: 10px 20px;
		background-color: #949494;
		border: 3px solid #ffffff;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}

	.payment-method input[type="radio"] {
		display: none;
	}

		.payment-method input[type="radio"]:checked + label {
			background-color: #2a9743;
			color: white;
			scale: 1.1;
		}

.payment-details {
	display: none;
}

	.payment-details.active {
		display: block;
	}

form {
	display: flex;
	flex-direction: column;
}

	form div {
		margin-bottom: 15px;
	}

	form label {
		margin-bottom: 5px;
		font-weight: bold;
	}

	form input {
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
	}

button {
	padding: 10px 20px;
	background-color: #2a9743;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

	button:hover {
		background-color: #1e6c30;
	}
