.sidebar {
	width: 250px;
	height: 100vh;
	background-color: transparent;
	position: fixed;
	left: 0;
	top: 5%;
	display: flex;
	flex-direction: column;
}

	.sidebar a {
		display: inline-block;
		width: 55%;
		padding: 10px;
		border: none;
		background-color: transparent;
		margin-bottom: 5px;
		cursor: pointer;
		text-align: left;
		transition: background-color 0.3s, width 0.3s;
		border-bottom: 12px ridge rgba(114, 11, 128, 0.6);
		border-radius: 5px;
	}

	.sidebar h2 {
		margin-bottom: 50px;
	}

	.sidebar a:hover {
		background-color: rgba(114, 11, 128, 0.4);
		width: 100%;
	}

	.sidebar a:active {
		background-color: rgba(114, 11, 128, 1);
	}


.text-red span {
	color: red;
}

.text-red {
	color: red;
}

.section {
	padding: 160px 0;
}

#section1 {
	display: flex;
	justify-content: center;
	height: 1000px;
	background-color: #400a47;
	font-family: Arial, sans-serif;
}

	#section1 .user-info {
		margin: 0 auto;
		padding: 20px;
		background: rgba(0, 0, 0, 0.2);
		border-width: 1px;
		border-style: solid;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	#section1 .user-field {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}

		#section1 .user-field label {
			font-weight: bold;
			margin-bottom: 5px;
		}

		#section1 .user-field span {
			color: black;
			padding: 8px;
			background-color: #f9f9f9;
			border-radius: 5px;
			border: 1px solid #ccc;
			margin-bottom: 5px;
		}

	#section1 #fullname {
		white-space: nowrap;
	}

	#section1 #birthdatePlaceNationality {
		white-space: nowrap;
	}

#section2 {
	background-color: rgb(99, 99, 29);
	height: min-content;
}

	#section2 .passport {
		color: #000;
		width: 850px;
		height: auto;
		background-color: #8b8b8b;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		margin: 20px auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
	}

	#section2 #idDocument {
		background-color: burlywood !important;
	}

	#section2 .passport .passport-card {
		display: flex;
		height: 315px;
	}

	#section2 .passport .passport-photo {
		flex: 1;
		align-content: center;
		align-items: center;
		display: flex;
		justify-content: center;
	}

		#section2 .passport .passport-photo img {
			width: 80%;
			height: auto;
			border: 2px solid #ccc;
		}

	#section2 .passport .passport-details {
		flex: 2;
		margin-left: 20px;
	}

		#section2 .passport .passport-details p {
			margin: 5px 0;
			color: #000;
		}

	#section2 .passport .passport-card h3 {
		text-align: center;
		color: #000;
	}

	#section2 .passport .security-code {
		margin: 0 -10px -10px;
		padding: 15px;
		background-color: #000;
		flex: 1;
		overflow: hidden;
		word-wrap: break-word;
	}

#section3 {
	background-color: rgb(36, 36, 25);
	height: min-content;
}

	#section3 .tickets {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 20px;
		justify-content: center;
	}

	#section3 .tickets h4{
		font-size: 1.4rem;
	}

	#section3 .ticket {
		width: 100%;
		height: min-content;
		padding: 5px;
		display: flex;
		flex-direction: column;
		border: 3px #bd979123 solid;
		background-color: rgba(255, 0, 98, 0.197);
	}
/*
		#section3 .ticket .flight-number-div {
		}*/

	#section3 .ticket-title {
		border-bottom: 3px #bd979123 solid;
		padding: 5px 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: min-content;
		align-items: center;
	}

	#section3 .ticket .ticket-info {
		justify-content: space-between;
		padding: 10px;
		height: 100%;
		display: flex;
		flex-direction: row;
	}

	#section3 .ticket .ticket-column {
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		width: 500px;
	}

	#section3 .ticket .ticket-row {
		display: flex;
		flex-direction: row;
	}

	#section3 .ticket .ticket-check {
		display: initial;
		width: initial;
		align-content: center;
	}

		#section3 .ticket .ticket-check img {
			width: 100%;
			height: 100px;
		}



/* Base CSS classes */
.profile-details label,
.no-passport label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.profile-details .input-text,
.no-passport .input-text {
	width: calc(100% - 24px); /* Adjusted width */
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* Parent classes */
.profile-details,
.no-passport {
	max-width: 400px;
	margin: 30px auto;
	background-color: #797314;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

	.profile-details h3,
	.no-passport h3 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
		text-align: center;
	}

	.profile-details .form-group,
	.no-passport .form-group {
		margin-bottom: 20px;
	}

		.profile-details .form-group input[type="text"],
		.profile-details .form-group input[type="password"],
		.profile-details .form-group input[type="email"],
		.profile-details .form-group select,
		.no-passport .form-group input[type="text"],
		.no-passport .form-group input[type="password"],
		.no-passport .form-group input[type="email"],
		.no-passport .form-group select {
			width: calc(100% - 24px); /* Adjusted width */
			padding: 12px;
		}

	.profile-details .submit-btn,
	.no-passport .submit-btn {
		width: 100%;
		padding: 12px;
		font-size: 16px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

		.profile-details .submit-btn:hover,
		.no-passport .submit-btn:hover {
			background-color: #0056b3;
		}







.imageForm {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: fit-content;
	width: fit-content;
	padding: 50px;
	background-color: rgba(139, 191, 57, 0.3);
	border: 2px green solid;
}


.newSign {
	font-size: 150px;
	font-weight: bold;
	animation: shadowPulse 1.5s infinite ease-in-out;
	letter-spacing: 2px;
	-webkit-text-stroke: 2px red;
	color: transparent;
}


@keyframes shadowPulse {
	0% {
		text-shadow: -10px 10px 0px #dc143c, -20px 20px 0px #9a0e2a, -30px 30px 0px #420612;
	}

	12.5% {
		text-shadow: -12px 12px 1px #dc143c, -22px 22px 1px #9a0e2a, -32px 32px 1px #420612;
	}

	25% {
		text-shadow: -15px 15px 1px #420612, -25px 25px 5px #9a0e2a, -35px 35px 5px #dc143c;
	}

	37.5% {
		text-shadow: -17px 17px 2px #420612, -27px 27px 7px #9a0e2a, -37px 37px 7px #dc143c;
	}

	50% {
		text-shadow: -20px 20px 3px #420612, -30px 30px 10px #9a0e2a, -40px 40px 10px #dc143c;
	}

	62.5% {
		text-shadow: -17px 17px 2px #420612, -27px 27px 7px #9a0e2a, -37px 37px 7px #dc143c;
	}

	75% {
		text-shadow: -15px 15px 1px #420612, -25px 25px 5px #9a0e2a, -35px 35px 5px #dc143c;
	}

	87.5% {
		text-shadow: -12px 12px 1px #dc143c, -22px 22px 1px #9a0e2a, -32px 32px 1px #420612;
	}

	100% {
		text-shadow: -10px 10px 0px #dc143c, -20px 20px 0px #9a0e2a, -30px 30px 0px #420612;
	}
}