<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_App_Razor_Pages</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_App_Razor_Pages.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="wrapper">
                <a asp-page="/Index"><img src="~/images/logo.jpg" width="100" height="100" alt="logo" class="navImage"></img></a>
                <ul>
                    <li><a asp-page="/Book">Book</a></li>
                    <li><a asp-page="/Profile/Profile">Profile</a></li>
                    <li><a asp-page="/Dashboard">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
      @RenderBody()
    </main>

    <footer class="footer">
        <h2 class="text-center">Footer</h2>
        &copy; 2024 - Web_App_Razor_Pages - <a asp-area="" asp-page="/Privacy">Privacy</a>

        <ul>
            <li><a asp-page="/Index">link</a></li>
            <li><a asp-page="/Index">link</a></li>
            <li><a asp-page="/Index">link</a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>