@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}


<section class="section1">
    <div class="wrapper">
        <h1 class="text-title text-center text-bold">Melon Airlines</h1>
        <p class="text-center text-italic text-smaller mtop20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. molestias. Esse, repudiandae.</p>
        <span class="rating-text text-center text-subtitle text-bold text-italic">Airline Rating</span>
        <img class="rating-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/1024px-5_stars.svg.png" width="450px" height="100%" alt="">
    </div>
</section>
<section class="section2">
    <div class="wrapper">
        <h2 class="text-title text-center text-bold">Popular destinations</h2>
        <div class="destinations">
            <div class="destination">
                <img src="https://visitusa.nl/wp-content/uploads/2020/07/braden-jarvis-prSogOoFmkw-unsplash.jpg"
                     alt="Hawai" height="250px" width="100%">
                <h3 class="text-center text-subtitle text-bold">Hawai</h3>
                <ul>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best beaches</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Parties</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Hotels</li>
                </ul>
                <h4 class="destination-price text-bold text-font-arial">SAVE 20% NOW</h4>
                <h4 class="promotial-text text-italic text-small text-center">Promotional offer is available until 10 April 2024.</h4>
            </div>
            <div class="destination">
                <img src="https://media.istockphoto.com/id/526734476/photo/london-under-the-stars.jpg?s=612x612&w=0&k=20&c=JrPkHqnY80_7VbK6ZCz-sdctoVwDihUTuMj8Xq16q0U="
                     alt="Hawai" height="250px" width="100%">
                <h3 class="text-center text-subtitle text-bold">London</h3>
                <ul>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best beaches</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Parties</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Hotels</li>
                </ul>
            </div>
            <div class="destination">
                <img src="https://media.cntraveler.com/photos/656f7efa275fc9057886aee0/16:9/w_2560%2Cc_limit/new-years-eve-fireworks-new-york-city-GettyImages-116924782.jpg"
                     alt="Hawai" height="250px" width="100%">
                <h3 class="text-center text-subtitle text-bold">New York</h3>
                <ul>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best beaches</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Parties</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Hotels</li>
                </ul>
                <h4 class="destination-price text-bold text-font-arial">SAVE 20% NOW</h4>
                <h4 class="promotial-text text-italic text-small text-center">Promotional offer is available until 10 April 2024.</h4>
            </div>
            <div class="destination">
                <img src="https://www.gotokyo.org/en/destinations/southern-tokyo/images/499_0354_2.jpg"
                     alt="Tokyo" height="250px" width="100%">
                <h3 class="text-center text-subtitle text-bold">Tokyo</h3>
                <ul>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best beaches</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Parties</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Hotels</li>
                </ul>
            </div>
            <div class="destination">
                <img src="https://cdn.concreteplayground.com/content/uploads/2022/11/SydneyHarbour_iStock_Credit-NeoPhoto.jpg"
                     alt="Sydney" height="250px" width="100%">
                <h3 class="text-center text-subtitle text-bold">Sydney</h3>
                <ul>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best beaches</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Parties</li>
                    <li><img src="https://static-00.iconduck.com/assets.00/heavy-check-mark-emoji-512x512-1lw25dhf.png" height="20" width="20" alt="">Best Hotels</li>
                </ul>
                <h4 class="destination-price text-bold text-font-arial">SAVE 20% NOW</h4>
                <h4 class="promotial-text text-italic text-small text-center">Promotional offer is available until 10 April 2024.</h4>
            </div>

        </div>
    </div>
</section>
